# Site Settings
locale: "ko-KR"
title: "Hyunwoo's Tech Blog"
title_separator: "|"
subtitle: "HW/SW Co-design & AI/ML Engineering"
name: "Hyunwoo Chung"
description: "HW/SW 공동설계, AI/ML, 그리고 개발에 대한 이야기"
url: "https://chunghyunwoooo.github.io"
baseurl: ""
repository: "ChungHyunwoooo/chunghyunwoooo.github.io"

# Site Verification
google_site_verification: "jdrEKlpZRZlHVt5QXII0JboqQqWcoztGaftLymcujEs"
naver_site_verification: "8563f15109a4dac816f3955f502178d62cc75abe"


# Theme Settings
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dark"  # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Search
search: true
search_full_content: true

# Analytics
analytics:
  provider: "google-gtag"
  google:
    tracking_id: ""  # Google Analytics ID 추가 예정
    anonymize_ip: false

# Site Author
author:
  name: "Hyunwoo"
  avatar: "/assets/images/bio-photo.jpg"
  bio: "HW/SW 공동설계와 AI/ML 엔지니어링에 관심있는 개발자"
  location: "Korea"
  email: "hwc0418@kw.ac.kr"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ChungHyunwoooo"

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/ChungHyunwoooo"

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gemfile.lock
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp

keep_files:
  - .git
  - .svn

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
paginate: 10
paginate_path: /page:num/
timezone: Asia/Seoul

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag
  - jekyll-archives

# Collections
collections:
  series:
    output: true
    permalink: /series/:path/
  articles:
    output: true
    permalink: /articles/:path/

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  # _series (연재)
  - scope:
      path: ""
      type: series
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: false
      related: true
      show_date: true
      toc: true
      toc_sticky: true
      sidebar:
        - nav: "series"
  # _articles (단일 글)
  - scope:
      path: ""
      type: articles
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: false
      related: true
      show_date: true
      toc: true
      toc_sticky: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
